################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/TestTask.WebApp/.vs/TestTask.WebApp/v16/Server/sqlite3/db.lock
